<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.xiaozhang.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.my.xiaozhang.model.domain.Team">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="maxNum" column="maxNum" jdbcType="INTEGER"/>
        <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="isDelete" column="avatarUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,description,
        maxNum,expireTime,userId,
        status,password,createTime,
        updateTime,isDelete,avatarUrl
    </sql>
    <select id="SelectUsers" resultType="com.my.xiaozhang.model.domain.User">
        select *
        from user,
             (select user_team.userId
              from team,
                   user_team
              where #{teamId} = user_team.teamId
                and team.id = user_team.teamId and user_team.isDelete =0) as S
        where user.id = S.userId
    </select>

</mapper>
